{{> head }}
 
    {{> navbar }}

    
<div class="row">
    <div class="col-8">

        <h1>ABOUT</h1>
        <p>Lorem ipsum dolor, sit amet consectetur 
            adipisicing elit. Exercitationem, blanditiis aperiam in quas accusantium officia neque 
            sequi illum, incidunt tempore eum? In quod sit sunt et modi veniam! Recusandae, numquam.</p>
    </div>
    <div class="row-4">
        <img src="/assets/img/image.png" class="img-thumbnail">
    </div>

</div>

{{> footer  }}